@font-face {
  font-family: "dg";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Digikala.woff") format("woff");
}

@font-face {
  font-family: "dg";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Digikala.woff2") format("woff2");
}

body,
button {
  font-family: "dg";
}
